<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>0_think-routine</string>
		<string>1_collisions</string>
		<string>2_text</string>
		<string>201412</string>
		<string>201501</string>
		<string>201502</string>
		<string>201503</string>
		<string>201504</string>
		<string>201505</string>
		<string>201506</string>
		<string>201507</string>
		<string>201508</string>
		<string>201509</string>
		<string>201510</string>
		<string>201511</string>
		<string>201512</string>
		<string>201601</string>
		<string>201602</string>
		<string>201603</string>
		<string>201604</string>
		<string>201605</string>
		<string>201606</string>
		<string>201607</string>
		<string>201608</string>
		<string>201609</string>
		<string>201610</string>
		<string>201611</string>
		<string>201612</string>
		<string>201701</string>
	</array>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>0_think-routine</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1_collisions</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201412</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201501</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201502</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201503</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201504</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201505</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201506</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201507</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201508</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201509</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201510</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201511</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201512</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201601</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201602</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201603</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201604</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201605</key>
			<dict>
				<key>lastModification</key>
				<real>484225413.93996298</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>201606</key>
			<dict>
				<key>lastModification</key>
				<real>486568079.30317402</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>201607</key>
			<dict>
				<key>lastModification</key>
				<real>489288500.23402399</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>201608</key>
			<dict>
				<key>lastModification</key>
				<real>491795950.83204699</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>201609</key>
			<dict>
				<key>lastModification</key>
				<real>494732031.76648498</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>201610</key>
			<dict>
				<key>lastModification</key>
				<real>497240293.14958501</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>201611</key>
			<dict>
				<key>lastModification</key>
				<real>499752615.202582</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>201612</key>
			<dict>
				<key>lastModification</key>
				<real>502598754.01320797</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>201701</key>
			<dict>
				<key>lastModification</key>
				<real>505199393.10068101</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>2_text</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>createMarkedFile</key>
		<real>481773621</real>
		<key>sheetClusters</key>
		<dict/>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>53</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>213</integer>
		</dict>
	</dict>
</dict>
</plist>
