<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201502-summary.md</string>
		</array>
		<array>
			<string>akasegawa-postscript.md</string>
		</array>
		<array>
			<string>appleseed-alpha.md</string>
		</array>
		<array>
			<string>child-favor-best-practice.md</string>
		</array>
		<array>
			<string>dungeon-meshi.md</string>
		</array>
		<array>
			<string>falling-down.md</string>
		</array>
		<array>
			<string>forgery-scientist.md</string>
		</array>
		<array>
			<string>furusato-tax.md</string>
		</array>
		<array>
			<string>geijutsu-shincho-akasegawa-issue.md</string>
		</array>
		<array>
			<string>good-by-to-language.md</string>
		</array>
		<array>
			<string>henshin-no-news.md</string>
		</array>
		<array>
			<string>iij-mio-phone.md</string>
		</array>
		<array>
			<string>joker-game.md</string>
		</array>
		<array>
			<string>kadomatsu.md</string>
		</array>
		<array>
			<string>kokkoku-4-8.md</string>
		</array>
		<array>
			<string>kokugo-note.md</string>
		</array>
		<array>
			<string>life-and-heavymetal.md</string>
		</array>
		<array>
			<string>macrodroid-health-log.md</string>
		</array>
		<array>
			<string>manga-anime-game-criticism.md</string>
		</array>
		<array>
			<string>measuring-exhibition.md</string>
		</array>
		<array>
			<string>next-pebble.md</string>
		</array>
		<array>
			<string>nhk-man-ben.md</string>
		</array>
		<array>
			<string>takamatsu-jiro-misteries.md</string>
		</array>
		<array>
			<string>time-of-eve-the-movie.md</string>
		</array>
		<array>
			<string>tohyama-shigeki-artworks.md</string>
		</array>
		<array>
			<string>way-out.md</string>
		</array>
		<array>
			<string>way-to-go.md</string>
		</array>
		<array>
			<string>writing-wishlist.md</string>
		</array>
		<array>
			<string>yowai-robot.md</string>
		</array>
	</array>
</dict>
</plist>
