<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>448807802</real>
		<key>sheetClusters</key>
		<dict>
			<key>201501-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>achitecture-knows-age.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>adachi-yeah.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>automation-jp-articles-about-game-localize.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16452801</real>
				<key>lastModification</key>
				<real>504532458.16452801</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>bashauma-san-to-big-mouth.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>big-hero-6.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>captain-phillips.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>chi-chan-wa-chotto-tarinai.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>cisco-heat.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>enjoe-vs-ebimayu.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>family-ski-tour-kpt.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>hosono-cronology.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>import-old-posts.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ironman3.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>kokkoku.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>machida-you.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>mini-metro.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>moratorium-tamako.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>motion-microscope.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>natsujikei.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>pebble.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>refine-archives-page.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>retro-game-kaitai-gekijo.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ristrict-carbohydrate.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>saccharomyces-cerevisiae.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>shot-on-location-in-neighborhood.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>the-counselor.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>the-evolution-of-useful-things.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>umimachi-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>venus-attackers.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>yokai-watch-the-movie.md</key>
			<dict>
				<key>lastModification</key>
				<real>448807802</real>
				<key>version</key>
				<dict>
					<key>legacy-448807802.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201501-summary.md</string>
		</array>
		<array>
			<string>achitecture-knows-age.md</string>
		</array>
		<array>
			<string>adachi-yeah.md</string>
		</array>
		<array>
			<string>automation-jp-articles-about-game-localize.md</string>
		</array>
		<array>
			<string>bashauma-san-to-big-mouth.md</string>
		</array>
		<array>
			<string>big-hero-6.md</string>
		</array>
		<array>
			<string>captain-phillips.md</string>
		</array>
		<array>
			<string>chi-chan-wa-chotto-tarinai.md</string>
		</array>
		<array>
			<string>cisco-heat.md</string>
		</array>
		<array>
			<string>enjoe-vs-ebimayu.md</string>
		</array>
		<array>
			<string>family-ski-tour-kpt.md</string>
		</array>
		<array>
			<string>hosono-cronology.md</string>
		</array>
		<array>
			<string>import-old-posts.md</string>
		</array>
		<array>
			<string>ironman3.md</string>
		</array>
		<array>
			<string>kokkoku.md</string>
		</array>
		<array>
			<string>machida-you.md</string>
		</array>
		<array>
			<string>mini-metro.md</string>
		</array>
		<array>
			<string>moratorium-tamako.md</string>
		</array>
		<array>
			<string>motion-microscope.md</string>
		</array>
		<array>
			<string>natsujikei.md</string>
		</array>
		<array>
			<string>pebble.md</string>
		</array>
		<array>
			<string>refine-archives-page.md</string>
		</array>
		<array>
			<string>retro-game-kaitai-gekijo.md</string>
		</array>
		<array>
			<string>ristrict-carbohydrate.md</string>
		</array>
		<array>
			<string>saccharomyces-cerevisiae.md</string>
		</array>
		<array>
			<string>shot-on-location-in-neighborhood.md</string>
		</array>
		<array>
			<string>the-counselor.md</string>
		</array>
		<array>
			<string>the-evolution-of-useful-things.md</string>
		</array>
		<array>
			<string>umimachi-diary.md</string>
		</array>
		<array>
			<string>venus-attackers.md</string>
		</array>
		<array>
			<string>yokai-watch-the-movie.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
