<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>201608-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>494397246.61843902</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>cloverfield.md</key>
			<dict>
				<key>lastModification</key>
				<real>492311380.62581998</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>dark-city.md</key>
			<dict>
				<key>lastModification</key>
				<real>494297718.689264</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>dungeon-meshi-3.md</key>
			<dict>
				<key>lastModification</key>
				<real>494299200.90442902</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>everybodys-gone-to-the-rapture.md</key>
			<dict>
				<key>lastModification</key>
				<real>494308291.994322</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>foxcatcher.md</key>
			<dict>
				<key>lastModification</key>
				<real>493262009.40598297</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>gassoh.md</key>
			<dict>
				<key>lastModification</key>
				<real>492312896.72288901</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>hennna-hotel.md</key>
			<dict>
				<key>lastModification</key>
				<real>494395062.90331203</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>huis-ten-bosch.md</key>
			<dict>
				<key>lastModification</key>
				<real>494389020.75288802</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>hyakuman-jou-labyrinth.md</key>
			<dict>
				<key>lastModification</key>
				<real>494301016.81700402</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>kaigo-suru-karada.md</key>
			<dict>
				<key>lastModification</key>
				<real>493801002.34689599</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>kingsman.md</key>
			<dict>
				<key>lastModification</key>
				<real>492396815.40504003</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>kirinji-neo.md</key>
			<dict>
				<key>lastModification</key>
				<real>493694872.97045797</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>lunatique.md</key>
			<dict>
				<key>lastModification</key>
				<real>492396815.40537101</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>open-space-2016.md</key>
			<dict>
				<key>lastModification</key>
				<real>493521108.55404103</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>sin-godzilla.md</key>
			<dict>
				<key>lastModification</key>
				<real>491795957.399113</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>still-alice.md</key>
			<dict>
				<key>lastModification</key>
				<real>493263426.00035501</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>vr-zone.md</key>
			<dict>
				<key>lastModification</key>
				<real>493695542.09676498</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>wild-speed-sky-mission.md</key>
			<dict>
				<key>lastModification</key>
				<real>493782071.34398198</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>yama-syokuyoku-watashi.md</key>
			<dict>
				<key>lastModification</key>
				<real>494302502.05002499</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>zb-nagasaki-workshop.md</key>
			<dict>
				<key>lastModification</key>
				<real>494392015.20828199</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>44</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201608-summary.md</string>
		</array>
		<array>
			<string>hennna-hotel.md</string>
		</array>
		<array>
			<string>zb-nagasaki-workshop.md</string>
		</array>
		<array>
			<string>huis-ten-bosch.md</string>
		</array>
		<array>
			<string>everybodys-gone-to-the-rapture.md</string>
		</array>
		<array>
			<string>yama-syokuyoku-watashi.md</string>
		</array>
		<array>
			<string>hyakuman-jou-labyrinth.md</string>
		</array>
		<array>
			<string>dungeon-meshi-3.md</string>
		</array>
		<array>
			<string>dark-city.md</string>
		</array>
		<array>
			<string>kaigo-suru-karada.md</string>
		</array>
		<array>
			<string>wild-speed-sky-mission.md</string>
		</array>
		<array>
			<string>vr-zone.md</string>
		</array>
		<array>
			<string>kirinji-neo.md</string>
		</array>
		<array>
			<string>open-space-2016.md</string>
		</array>
		<array>
			<string>still-alice.md</string>
		</array>
		<array>
			<string>foxcatcher.md</string>
		</array>
		<array>
			<string>kingsman.md</string>
		</array>
		<array>
			<string>lunatique.md</string>
		</array>
		<array>
			<string>gassoh.md</string>
		</array>
		<array>
			<string>cloverfield.md</string>
		</array>
		<array>
			<string>sin-godzilla.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>48</integer>
		</dict>
	</dict>
</dict>
</plist>
