<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>201611-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>502259164.16719699</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>3d-power-drift.md</key>
			<dict>
				<key>lastModification</key>
				<real>500285795.62437099</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>accidental-encounter-kaeru-san.md</key>
			<dict>
				<key>lastModification</key>
				<real>501734255.132532</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>bank-job.md</key>
			<dict>
				<key>lastModification</key>
				<real>502024195.056041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>begin-again.md</key>
			<dict>
				<key>lastModification</key>
				<real>502025659.32447499</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>flip-flappers.md</key>
			<dict>
				<key>lastModification</key>
				<real>500349500.516047</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>ghost-world.md</key>
			<dict>
				<key>lastModification</key>
				<real>501387803.25889099</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>half-real.md</key>
			<dict>
				<key>lastModification</key>
				<real>502255650.78914398</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>hidakaya-freezing-gyoza.md</key>
			<dict>
				<key>lastModification</key>
				<real>502257670.76521897</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>in-this-corner-of-the-world-original-soundtrack.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16668302</real>
				<key>lastModification</key>
				<real>504532458.16668302</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>in-this-corner-of-the-world.md</key>
			<dict>
				<key>lastModification</key>
				<real>501136102.432055</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>inherent-vice.md</key>
			<dict>
				<key>lastModification</key>
				<real>501733342.90304899</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>jack-reacher.md</key>
			<dict>
				<key>lastModification</key>
				<real>500523265.51716697</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>katsukawa-azuma.md</key>
			<dict>
				<key>lastModification</key>
				<real>500955764.02528399</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>machinist.md</key>
			<dict>
				<key>lastModification</key>
				<real>500281427.08629</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>nanimono.md</key>
			<dict>
				<key>lastModification</key>
				<real>500003691.73289698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>no-life-king-the-movie.md</key>
			<dict>
				<key>lastModification</key>
				<real>501646718.19621998</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>pebble2.md</key>
			<dict>
				<key>lastModification</key>
				<real>500957955.71970999</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>realm-init-hang-because-of-getter-method-conflict.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16668701</real>
				<key>lastModification</key>
				<real>504532458.16668701</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>scoop.md</key>
			<dict>
				<key>lastModification</key>
				<real>499752629.38923901</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>sugita-oosawa-azuma.md</key>
			<dict>
				<key>lastModification</key>
				<real>500005578.05734003</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>sugu-memo-and-koko-fusen.md</key>
			<dict>
				<key>lastModification</key>
				<real>500871383.29641098</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>vicky-cristina-barcelona.md</key>
			<dict>
				<key>lastModification</key>
				<real>501644845.89212102</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>32</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201611-summary.md</string>
		</array>
		<array>
			<string>hidakaya-freezing-gyoza.md</string>
		</array>
		<array>
			<string>half-real.md</string>
		</array>
		<array>
			<string>begin-again.md</string>
		</array>
		<array>
			<string>bank-job.md</string>
		</array>
		<array>
			<string>accidental-encounter-kaeru-san.md</string>
		</array>
		<array>
			<string>inherent-vice.md</string>
		</array>
		<array>
			<string>no-life-king-the-movie.md</string>
		</array>
		<array>
			<string>in-this-corner-of-the-world-original-soundtrack.md</string>
		</array>
		<array>
			<string>vicky-cristina-barcelona.md</string>
		</array>
		<array>
			<string>ghost-world.md</string>
		</array>
		<array>
			<string>in-this-corner-of-the-world.md</string>
		</array>
		<array>
			<string>pebble2.md</string>
		</array>
		<array>
			<string>katsukawa-azuma.md</string>
		</array>
		<array>
			<string>sugu-memo-and-koko-fusen.md</string>
		</array>
		<array>
			<string>realm-init-hang-because-of-getter-method-conflict.md</string>
		</array>
		<array>
			<string>jack-reacher.md</string>
		</array>
		<array>
			<string>flip-flappers.md</string>
		</array>
		<array>
			<string>3d-power-drift.md</string>
		</array>
		<array>
			<string>machinist.md</string>
		</array>
		<array>
			<string>sugita-oosawa-azuma.md</string>
		</array>
		<array>
			<string>nanimono.md</string>
		</array>
		<array>
			<string>scoop.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>53</integer>
		</dict>
	</dict>
</dict>
</plist>
