<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>449848060</real>
		<key>sheetClusters</key>
		<dict>
			<key>201503-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>akasegawa-2014-exhibition-book.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>american-hustle.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>board-ooze-out.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>fumiaki-aono-exhibition.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>geidai-animation-06-dawn.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>hexo-3-upgrade.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>hexo-generator-single-page.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>hint-de-pint-remix.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>hosoma-hirakura-godard.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>its-complicated.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>labeling-of-ordinary-feeling.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>life!.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>live-love-sing.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>manga-honyalala.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>melting-interfaces.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>monthly_post_list.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>nacun.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>place-beyond-the-pines.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>placebo-club.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>real-scale-museum.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>scratch-pad.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>self-in-vr.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>soundcloud-dempa-gumi-mix.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>specimens-of-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>sugie-matsukoi-speech-of-congratulation-2011.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493520497.79285997</real>
				<key>lastModification</key>
				<real>493520497.79285997</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>tasogare-takako.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>tsukkomi-is-metadata.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>whitehouse-down.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>xcode-fatal-error.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>yebizo-2015.md</key>
			<dict>
				<key>lastModification</key>
				<real>449848060</real>
				<key>version</key>
				<dict>
					<key>legacy-449848060.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201503-summary.md</string>
		</array>
		<array>
			<string>board-ooze-out.md</string>
		</array>
		<array>
			<string>hosoma-hirakura-godard.md</string>
		</array>
		<array>
			<string>akasegawa-2014-exhibition-book.md</string>
		</array>
		<array>
			<string>soundcloud-dempa-gumi-mix.md</string>
		</array>
		<array>
			<string>self-in-vr.md</string>
		</array>
		<array>
			<string>whitehouse-down.md</string>
		</array>
		<array>
			<string>manga-honyalala.md</string>
		</array>
		<array>
			<string>hexo-generator-single-page.md</string>
		</array>
		<array>
			<string>live-love-sing.md</string>
		</array>
		<array>
			<string>sugie-matsukoi-speech-of-congratulation-2011.md</string>
		</array>
		<array>
			<string>geidai-animation-06-dawn.md</string>
		</array>
		<array>
			<string>american-hustle.md</string>
		</array>
		<array>
			<string>fumiaki-aono-exhibition.md</string>
		</array>
		<array>
			<string>hexo-3-upgrade.md</string>
		</array>
		<array>
			<string>hint-de-pint-remix.md</string>
		</array>
		<array>
			<string>its-complicated.md</string>
		</array>
		<array>
			<string>labeling-of-ordinary-feeling.md</string>
		</array>
		<array>
			<string>life!.md</string>
		</array>
		<array>
			<string>melting-interfaces.md</string>
		</array>
		<array>
			<string>monthly_post_list.md</string>
		</array>
		<array>
			<string>nacun.md</string>
		</array>
		<array>
			<string>place-beyond-the-pines.md</string>
		</array>
		<array>
			<string>placebo-club.md</string>
		</array>
		<array>
			<string>real-scale-museum.md</string>
		</array>
		<array>
			<string>scratch-pad.md</string>
		</array>
		<array>
			<string>specimens-of-time.md</string>
		</array>
		<array>
			<string>tasogare-takako.md</string>
		</array>
		<array>
			<string>tsukkomi-is-metadata.md</string>
		</array>
		<array>
			<string>xcode-fatal-error.md</string>
		</array>
		<array>
			<string>yebizo-2015.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
