<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>481508692</real>
		<key>sheetClusters</key>
		<dict>
			<key>201603-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>android-m.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ant-man.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>appleseed-alpha-2-and-designs.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>construction-and-destruction-in-game-design.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493520497.79837</real>
				<key>lastModification</key>
				<real>493520497.79837</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>flightplan.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>fujihata-masaki-anachive6.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>game-on.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>generative-design.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>hitori-gurashi.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ikea-ketchen-tools.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ikebukuro-bousai-kan.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ios8-crash-with-viewcontroller-init-without-nibname.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493520497.79833698</real>
				<key>lastModification</key>
				<real>493520497.79833698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>kick-ass-justice-forever.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>kyou-no-hi-ha-sayonara.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>martian-novel.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>no-country-for-old-men.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>psvr-prevew-in-game-on.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>script-doctor-s-senario-lecture-basic-class.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493520497.79839498</real>
				<key>lastModification</key>
				<real>493520497.79839498</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>spring-songs.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>steve-jobs-movie-2013.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>the-big-short-novel.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>the-big-short.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>the-boy-and-the-world.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>the-extra-terrestrial.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>watchmen.md</key>
			<dict>
				<key>lastModification</key>
				<real>481508692</real>
				<key>version</key>
				<dict>
					<key>legacy-481508692.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201603-summary.md</string>
		</array>
		<array>
			<string>kyou-no-hi-ha-sayonara.md</string>
		</array>
		<array>
			<string>generative-design.md</string>
		</array>
		<array>
			<string>no-country-for-old-men.md</string>
		</array>
		<array>
			<string>psvr-prevew-in-game-on.md</string>
		</array>
		<array>
			<string>ios8-crash-with-viewcontroller-init-without-nibname.md</string>
		</array>
		<array>
			<string>the-boy-and-the-world.md</string>
		</array>
		<array>
			<string>hitori-gurashi.md</string>
		</array>
		<array>
			<string>spring-songs.md</string>
		</array>
		<array>
			<string>the-big-short-novel.md</string>
		</array>
		<array>
			<string>flightplan.md</string>
		</array>
		<array>
			<string>ant-man.md</string>
		</array>
		<array>
			<string>construction-and-destruction-in-game-design.md</string>
		</array>
		<array>
			<string>appleseed-alpha-2-and-designs.md</string>
		</array>
		<array>
			<string>ikea-ketchen-tools.md</string>
		</array>
		<array>
			<string>fujihata-masaki-anachive6.md</string>
		</array>
		<array>
			<string>android-m.md</string>
		</array>
		<array>
			<string>ikebukuro-bousai-kan.md</string>
		</array>
		<array>
			<string>watchmen.md</string>
		</array>
		<array>
			<string>the-extra-terrestrial.md</string>
		</array>
		<array>
			<string>the-big-short.md</string>
		</array>
		<array>
			<string>martian-novel.md</string>
		</array>
		<array>
			<string>game-on.md</string>
		</array>
		<array>
			<string>steve-jobs-movie-2013.md</string>
		</array>
		<array>
			<string>kick-ass-justice-forever.md</string>
		</array>
		<array>
			<string>script-doctor-s-senario-lecture-basic-class.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
