<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>465398757</real>
		<key>sheetClusters</key>
		<dict>
			<key>201509-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>apple-hardware-test.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>box-something-like-house-in-hyo-ka.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>create-kakitori-drill-with-vivliostyle.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16547298</real>
				<key>lastModification</key>
				<real>504532458.16547298</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>equalizer.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>fuji-q-highland-kpt.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>get-running-js-object-as-json.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>her.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>hosoma-hirakura-movie.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>kodomo-no-kuni-kpt.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>lucy.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>mail-from-suzu-san.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>media-button-router.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>mission-impossible-logue-nation.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>motion-science.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>neverending-story-in-15-faster.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>nudge.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>piller-bracket.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>pixels.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>saving-mr-banks.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>second-nasne.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>showa-kinen-park-and-ikea-tachikawa-kpt.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16547</real>
				<key>lastModification</key>
				<real>504532458.16547</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>sony-xperia-z1-f.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>the-raid.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>usagi-drop.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>wallaby-js.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>zenpad-s-8.md</key>
			<dict>
				<key>lastModification</key>
				<real>465398757</real>
				<key>version</key>
				<dict>
					<key>legacy-465398757.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201509-summary.md</string>
		</array>
		<array>
			<string>apple-hardware-test.md</string>
		</array>
		<array>
			<string>second-nasne.md</string>
		</array>
		<array>
			<string>motion-science.md</string>
		</array>
		<array>
			<string>the-raid.md</string>
		</array>
		<array>
			<string>piller-bracket.md</string>
		</array>
		<array>
			<string>hosoma-hirakura-movie.md</string>
		</array>
		<array>
			<string>equalizer.md</string>
		</array>
		<array>
			<string>kodomo-no-kuni-kpt.md</string>
		</array>
		<array>
			<string>showa-kinen-park-and-ikea-tachikawa-kpt.md</string>
		</array>
		<array>
			<string>fuji-q-highland-kpt.md</string>
		</array>
		<array>
			<string>get-running-js-object-as-json.md</string>
		</array>
		<array>
			<string>box-something-like-house-in-hyo-ka.md</string>
		</array>
		<array>
			<string>media-button-router.md</string>
		</array>
		<array>
			<string>nudge.md</string>
		</array>
		<array>
			<string>pixels.md</string>
		</array>
		<array>
			<string>create-kakitori-drill-with-vivliostyle.md</string>
		</array>
		<array>
			<string>zenpad-s-8.md</string>
		</array>
		<array>
			<string>wallaby-js.md</string>
		</array>
		<array>
			<string>mail-from-suzu-san.md</string>
		</array>
		<array>
			<string>lucy.md</string>
		</array>
		<array>
			<string>usagi-drop.md</string>
		</array>
		<array>
			<string>saving-mr-banks.md</string>
		</array>
		<array>
			<string>sony-xperia-z1-f.md</string>
		</array>
		<array>
			<string>mission-impossible-logue-nation.md</string>
		</array>
		<array>
			<string>her.md</string>
		</array>
		<array>
			<string>neverending-story-in-15-faster.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
