<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>201606-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>489069377.60052902</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>after-the-storm.md</key>
			<dict>
				<key>lastModification</key>
				<real>486568084.08944499</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>atari-gameover.md</key>
			<dict>
				<key>lastModification</key>
				<real>487732913.21892798</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>cannot-live-without-movie.md</key>
			<dict>
				<key>lastModification</key>
				<real>487601875.40913701</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>chin-ache.md</key>
			<dict>
				<key>lastModification</key>
				<real>487128845.64914298</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>cyber-shot-rx100.md</key>
			<dict>
				<key>lastModification</key>
				<real>489065484.32652098</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>dagashiya-game-museum.md</key>
			<dict>
				<key>lastModification</key>
				<real>487043342.629682</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>deadpool.md</key>
			<dict>
				<key>lastModification</key>
				<real>488082529.48073</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>fed-up.md</key>
			<dict>
				<key>lastModification</key>
				<real>488719933.66630298</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>genron-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>489064162.83906603</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>54</integer>
				</dict>
			</dict>
			<key>hybrid-chat-ui.md</key>
			<dict>
				<key>lastModification</key>
				<real>486612012.38218498</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>in-cold-blood.md</key>
			<dict>
				<key>lastModification</key>
				<real>487127878.31854302</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>kramer-vs-kramer.md</key>
			<dict>
				<key>lastModification</key>
				<real>488204157.48713702</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>making-make.md</key>
			<dict>
				<key>lastModification</key>
				<real>487213314.93307298</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>memoflowy-and-handyflowy-for-android.md</key>
			<dict>
				<key>lastModification</key>
				<real>488857745.08248502</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>nebraska.md</key>
			<dict>
				<key>lastModification</key>
				<real>488856661.13491398</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>outdoor-kids-deconditioning-kpt.md</key>
			<dict>
				<key>lastModification</key>
				<real>487732802.57738602</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>revert-to-chrome-from-vivaldi.md</key>
			<dict>
				<key>lastModification</key>
				<real>488079534.16096097</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>sayawaka-barbora-shibuya-kei.md</key>
			<dict>
				<key>lastModification</key>
				<real>488687313.08086097</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>screenshot-upload-to-slack-channel.md</key>
			<dict>
				<key>lastModification</key>
				<real>488338960.12146699</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>the-light-shines-only-there.md</key>
			<dict>
				<key>lastModification</key>
				<real>488205439.822326</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>the-many-armors-for-surviving-womens-life.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16594702</real>
				<key>lastModification</key>
				<real>504532458.16594702</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>62</integer>
				</dict>
			</dict>
			<key>up-and-up.md</key>
			<dict>
				<key>lastModification</key>
				<real>487041136.28040701</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>zakka-ten-and-miyake-issei.md</key>
			<dict>
				<key>lastModification</key>
				<real>487041516.90885401</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201606-summary.md</string>
		</array>
		<array>
			<string>cyber-shot-rx100.md</string>
		</array>
		<array>
			<string>genron-2.md</string>
		</array>
		<array>
			<string>memoflowy-and-handyflowy-for-android.md</string>
		</array>
		<array>
			<string>nebraska.md</string>
		</array>
		<array>
			<string>fed-up.md</string>
		</array>
		<array>
			<string>sayawaka-barbora-shibuya-kei.md</string>
		</array>
		<array>
			<string>screenshot-upload-to-slack-channel.md</string>
		</array>
		<array>
			<string>the-light-shines-only-there.md</string>
		</array>
		<array>
			<string>kramer-vs-kramer.md</string>
		</array>
		<array>
			<string>deadpool.md</string>
		</array>
		<array>
			<string>revert-to-chrome-from-vivaldi.md</string>
		</array>
		<array>
			<string>the-many-armors-for-surviving-womens-life.md</string>
		</array>
		<array>
			<string>atari-gameover.md</string>
		</array>
		<array>
			<string>outdoor-kids-deconditioning-kpt.md</string>
		</array>
		<array>
			<string>cannot-live-without-movie.md</string>
		</array>
		<array>
			<string>making-make.md</string>
		</array>
		<array>
			<string>chin-ache.md</string>
		</array>
		<array>
			<string>in-cold-blood.md</string>
		</array>
		<array>
			<string>dagashiya-game-museum.md</string>
		</array>
		<array>
			<string>zakka-ten-and-miyake-issei.md</string>
		</array>
		<array>
			<string>up-and-up.md</string>
		</array>
		<array>
			<string>hybrid-chat-ui.md</string>
		</array>
		<array>
			<string>after-the-storm.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>62</integer>
		</dict>
	</dict>
</dict>
</plist>
