<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>452176591</real>
		<key>sheetClusters</key>
		<dict>
			<key>201504-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>a-critical-history-of-media-art-in-japan.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16494697</real>
				<key>lastModification</key>
				<real>504532458.16494697</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>annotation-for-asset-generator.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>atonement.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>baymax-again.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>bccks-auto-nombre-mapping.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>book-of-our-era.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>computer-memory-data.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>dawn-of-the-planet-of-the-ape.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>designing-station.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>duplicate-build-target.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>dyson-dc62.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>full-automatic-coffee-maker.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>global-navigation.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>imitation-game.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>jump-instruction-in-program.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>kohei-nawa-force-exhibition.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>memory-stream.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>midoru-vol70.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>monomorai.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>oblivion.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>program-caligraphy.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>programming-lesson-for-changing-world.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>pyonkee.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>regexp-workshop.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>shinai-naru-tokyotdc-rgb-prize.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>sodan-ha-odoru.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>soundcloud-idol-mix.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>tactility-infomatics.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>weekend-shuffule-kamikai-vol1.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>world-ia-day.md</key>
			<dict>
				<key>lastModification</key>
				<real>452176591</real>
				<key>version</key>
				<dict>
					<key>legacy-452176591.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201504-summary.md</string>
		</array>
		<array>
			<string>jump-instruction-in-program.md</string>
		</array>
		<array>
			<string>duplicate-build-target.md</string>
		</array>
		<array>
			<string>sodan-ha-odoru.md</string>
		</array>
		<array>
			<string>bccks-auto-nombre-mapping.md</string>
		</array>
		<array>
			<string>baymax-again.md</string>
		</array>
		<array>
			<string>soundcloud-idol-mix.md</string>
		</array>
		<array>
			<string>dyson-dc62.md</string>
		</array>
		<array>
			<string>midoru-vol70.md</string>
		</array>
		<array>
			<string>weekend-shuffule-kamikai-vol1.md</string>
		</array>
		<array>
			<string>global-navigation.md</string>
		</array>
		<array>
			<string>computer-memory-data.md</string>
		</array>
		<array>
			<string>dawn-of-the-planet-of-the-ape.md</string>
		</array>
		<array>
			<string>programming-lesson-for-changing-world.md</string>
		</array>
		<array>
			<string>world-ia-day.md</string>
		</array>
		<array>
			<string>full-automatic-coffee-maker.md</string>
		</array>
		<array>
			<string>book-of-our-era.md</string>
		</array>
		<array>
			<string>kohei-nawa-force-exhibition.md</string>
		</array>
		<array>
			<string>program-caligraphy.md</string>
		</array>
		<array>
			<string>pyonkee.md</string>
		</array>
		<array>
			<string>atonement.md</string>
		</array>
		<array>
			<string>a-critical-history-of-media-art-in-japan.md</string>
		</array>
		<array>
			<string>annotation-for-asset-generator.md</string>
		</array>
		<array>
			<string>regexp-workshop.md</string>
		</array>
		<array>
			<string>memory-stream.md</string>
		</array>
		<array>
			<string>monomorai.md</string>
		</array>
		<array>
			<string>designing-station.md</string>
		</array>
		<array>
			<string>oblivion.md</string>
		</array>
		<array>
			<string>tactility-infomatics.md</string>
		</array>
		<array>
			<string>shinai-naru-tokyotdc-rgb-prize.md</string>
		</array>
		<array>
			<string>imitation-game.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
