<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>472746794</real>
		<key>sheetClusters</key>
		<dict>
			<key>1998-10-06.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1998-10-12.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1998-12-18.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1998-12-28.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1999-01-27.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1999-02-28.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1999-05-09.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1999-05-16.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1999-06-22.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1999-10-05.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1999-10-22.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1999-11-11.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>1999-12-04.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2000-03-25.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2000-06-09.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2000-07-11.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2000-09-12.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2000-11-13.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2000-12-04.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2000-12-19.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2001-10-21.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2002-02-24.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2003-10-06.md</key>
			<dict>
				<key>lastModification</key>
				<real>487732906.48301703</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2003-11-10.md</key>
			<dict>
				<key>lastModification</key>
				<real>472746794</real>
				<key>version</key>
				<dict>
					<key>legacy-472746794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2003-10-06.md</string>
		</array>
		<array>
			<string>1998-10-06.md</string>
		</array>
		<array>
			<string>2003-11-10.md</string>
		</array>
		<array>
			<string>1998-10-12.md</string>
		</array>
		<array>
			<string>1998-12-18.md</string>
		</array>
		<array>
			<string>1998-12-28.md</string>
		</array>
		<array>
			<string>1999-01-27.md</string>
		</array>
		<array>
			<string>1999-02-28.md</string>
		</array>
		<array>
			<string>1999-05-09.md</string>
		</array>
		<array>
			<string>1999-05-16.md</string>
		</array>
		<array>
			<string>1999-06-22.md</string>
		</array>
		<array>
			<string>1999-10-05.md</string>
		</array>
		<array>
			<string>1999-10-22.md</string>
		</array>
		<array>
			<string>1999-11-11.md</string>
		</array>
		<array>
			<string>1999-12-04.md</string>
		</array>
		<array>
			<string>2000-03-25.md</string>
		</array>
		<array>
			<string>2000-06-09.md</string>
		</array>
		<array>
			<string>2000-07-11.md</string>
		</array>
		<array>
			<string>2000-09-12.md</string>
		</array>
		<array>
			<string>2000-11-13.md</string>
		</array>
		<array>
			<string>2000-12-04.md</string>
		</array>
		<array>
			<string>2000-12-19.md</string>
		</array>
		<array>
			<string>2001-10-21.md</string>
		</array>
		<array>
			<string>2002-02-24.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
