<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>479798453</real>
		<key>sheetClusters</key>
		<dict>
			<key>2015-best-book.md</key>
			<dict>
				<key>lastModification</key>
				<real>479798453</real>
				<key>version</key>
				<dict>
					<key>legacy-479798453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>201609-summary.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>497188939.09398502</real>
				<key>lastModification</key>
				<real>497188939.09398502</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Androidでの記.txt</key>
			<dict>
				<key>lastModification</key>
				<real>479798453</real>
				<key>version</key>
				<dict>
					<key>legacy-479798453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>avatar.md</key>
			<dict>
				<key>lastModification</key>
				<real>479798453</real>
				<key>version</key>
				<dict>
					<key>legacy-479798453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>childrens-independence-education.md</key>
			<dict>
				<key>lastModification</key>
				<real>479798453</real>
				<key>version</key>
				<dict>
					<key>legacy-479798453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>pixelout-talks.md</key>
			<dict>
				<key>lastModification</key>
				<real>497188945.5165</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>x-men-future-and-past.md</key>
			<dict>
				<key>lastModification</key>
				<real>479798453</real>
				<key>version</key>
				<dict>
					<key>legacy-479798453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201609-summary.md</string>
		</array>
		<array>
			<string>pixelout-talks.md</string>
		</array>
		<array>
			<string>childrens-independence-education.md</string>
		</array>
		<array>
			<string>Androidでの記.txt</string>
		</array>
		<array>
			<string>avatar.md</string>
		</array>
		<array>
			<string>2015-best-book.md</string>
		</array>
		<array>
			<string>x-men-future-and-past.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>9</integer>
		</dict>
	</dict>
</dict>
</plist>
