<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>nnnny-electrical-da-0-kai.md</string>
		</array>
		<array>
			<string>201510-summary.md</string>
		</array>
		<array>
			<string>craft-spells.md</string>
		</array>
		<array>
			<string>casset-girl.md</string>
		</array>
		<array>
			<string>finished-packing-string.md</string>
		</array>
		<array>
			<string>anker-astro-e1.md</string>
		</array>
		<array>
			<string>macs-fan-control.md</string>
		</array>
		<array>
			<string>technology-and-literature.md</string>
		</array>
		<array>
			<string>japanese-industry-meetup.md</string>
		</array>
		<array>
			<string>splatune.md</string>
		</array>
		<array>
			<string>free-style-aquos.md</string>
		</array>
		<array>
			<string>super-mario-maker.md</string>
		</array>
		<array>
			<string>man-ben-series-1.md</string>
		</array>
		<array>
			<string>bakuman-movie.md</string>
		</array>
		<array>
			<string>perian-brief.md</string>
		</array>
		<array>
			<string>the-perfect-insider-in-animation.md</string>
		</array>
		<array>
			<string>toggle-finder-workflow.md</string>
		</array>
		<array>
			<string>kids-us-land.md</string>
		</array>
		<array>
			<string>fury.md</string>
		</array>
		<array>
			<string>parents-home-pc-setting.md</string>
		</array>
		<array>
			<string>freakonomics.md</string>
		</array>
		<array>
			<string>demarcation.md</string>
		</array>
		<array>
			<string>issue-navigation.md</string>
		</array>
		<array>
			<string>live-japanese-input-method.md</string>
		</array>
		<array>
			<string>haru-rock.md</string>
		</array>
		<array>
			<string>american-beauty.md</string>
		</array>
		<array>
			<string>the-honest-truth-about-dishonesty.md</string>
		</array>
		<array>
			<string>mission-impossible.md</string>
		</array>
		<array>
			<string>economics-of-academic-ability.md</string>
		</array>
		<array>
			<string>before-pipe-finish.md</string>
		</array>
	</array>
</dict>
</plist>
