<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>462936737</real>
		<key>sheetClusters</key>
		<dict>
			<key>201508-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>a-new-text-composition-lecture.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>cai-guo-qiang-in-yokohama-museum.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>dungeon-meshi-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>eighth-attend-to-dentist.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>history-of-human-and-architecture.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>kung-fury.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>kyo-aku.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>nineth-attend-to-dentist.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>non-stop.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>oktober-fest-with-kumode.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>paper-moon.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>pebble-recent-watchface.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>persuasive-technology-yakiniku.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>pikmin3-cleared.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>project-almanac.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>regexp-for-adobe-japan-1-6.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>repairing-mbp-trackpad.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>secret-of-contents.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>seventh-attend-to-dentist.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>shirobako.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>sony-digital-paper-dpt-s1.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>steel-series-free.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>sxsw-2015-gaming-awards-opening.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>sylvanian-families-for-sylvanian-families.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16530198</real>
				<key>lastModification</key>
				<real>504532458.16530198</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>visualizing-rules.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>wood-job!.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>workshop-collection.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>zenfone5-mobile-network-trouble.md</key>
			<dict>
				<key>lastModification</key>
				<real>462936737</real>
				<key>version</key>
				<dict>
					<key>legacy-462936737.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>kung-fury.md</string>
		</array>
		<array>
			<string>201508-summary.md</string>
		</array>
		<array>
			<string>oktober-fest-with-kumode.md</string>
		</array>
		<array>
			<string>workshop-collection.md</string>
		</array>
		<array>
			<string>sony-digital-paper-dpt-s1.md</string>
		</array>
		<array>
			<string>nineth-attend-to-dentist.md</string>
		</array>
		<array>
			<string>repairing-mbp-trackpad.md</string>
		</array>
		<array>
			<string>eighth-attend-to-dentist.md</string>
		</array>
		<array>
			<string>a-new-text-composition-lecture.md</string>
		</array>
		<array>
			<string>pikmin3-cleared.md</string>
		</array>
		<array>
			<string>wood-job!.md</string>
		</array>
		<array>
			<string>dungeon-meshi-2.md</string>
		</array>
		<array>
			<string>sylvanian-families-for-sylvanian-families.md</string>
		</array>
		<array>
			<string>visualizing-rules.md</string>
		</array>
		<array>
			<string>secret-of-contents.md</string>
		</array>
		<array>
			<string>history-of-human-and-architecture.md</string>
		</array>
		<array>
			<string>non-stop.md</string>
		</array>
		<array>
			<string>sxsw-2015-gaming-awards-opening.md</string>
		</array>
		<array>
			<string>regexp-for-adobe-japan-1-6.md</string>
		</array>
		<array>
			<string>project-almanac.md</string>
		</array>
		<array>
			<string>zenfone5-mobile-network-trouble.md</string>
		</array>
		<array>
			<string>cai-guo-qiang-in-yokohama-museum.md</string>
		</array>
		<array>
			<string>kyo-aku.md</string>
		</array>
		<array>
			<string>persuasive-technology-yakiniku.md</string>
		</array>
		<array>
			<string>seventh-attend-to-dentist.md</string>
		</array>
		<array>
			<string>pebble-recent-watchface.md</string>
		</array>
		<array>
			<string>steel-series-free.md</string>
		</array>
		<array>
			<string>paper-moon.md</string>
		</array>
		<array>
			<string>shirobako.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
