<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-best-video.md</key>
			<dict>
				<key>lastModification</key>
				<real>504799562.65850902</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>2016-retrospective.md</key>
			<dict>
				<key>lastModification</key>
				<real>504799562.65850198</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>battle-garegga-rev-2016-premium-booklet.md</key>
			<dict>
				<key>lastModification</key>
				<real>504532458.16683</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>er-st-wieder-da.md</key>
			<dict>
				<key>lastModification</key>
				<real>504595120.80339801</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>eureka-kouno-fumiyo.md</key>
			<dict>
				<key>lastModification</key>
				<real>503285199.92517602</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>finding-dolly.md</key>
			<dict>
				<key>lastModification</key>
				<real>503286700.936427</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>image-forum-norshteyn-retrospective.md</key>
			<dict>
				<key>lastModification</key>
				<real>504427724.59491497</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>inside.md</key>
			<dict>
				<key>lastModification</key>
				<real>504083194.97461897</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>journey.md</key>
			<dict>
				<key>lastModification</key>
				<real>503287879.78544301</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>kaeru-san-one-man-show.md</key>
			<dict>
				<key>lastModification</key>
				<real>502598759.37139601</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>kippu.md</key>
			<dict>
				<key>lastModification</key>
				<real>502771184.61256498</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>men-women-and-children.md</key>
			<dict>
				<key>lastModification</key>
				<real>502634320.60274601</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>never-oxidize-apple.md</key>
			<dict>
				<key>lastModification</key>
				<real>503983215.29933298</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>okinawa-730.md</key>
			<dict>
				<key>lastModification</key>
				<real>503460659.84763002</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>patlabor-reboot.md</key>
			<dict>
				<key>lastModification</key>
				<real>502856942.42662197</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>pebble-aquired.md</key>
			<dict>
				<key>lastModification</key>
				<real>503202433.67935503</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>saitama-triennale.md</key>
			<dict>
				<key>lastModification</key>
				<real>503204113.77790302</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>shaun-the-sheep-the-movie.md</key>
			<dict>
				<key>lastModification</key>
				<real>504799562.65850902</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>soundcloud-second-half-best-8tracks-inst.md</key>
			<dict>
				<key>lastModification</key>
				<real>504532458.166834</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>soundcloud-second-half-best-8tracks-vocal.md</key>
			<dict>
				<key>lastModification</key>
				<real>504532458.16683602</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>timelocker.md</key>
			<dict>
				<key>lastModification</key>
				<real>502767321.43759799</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>6</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-retrospective.md</string>
		</array>
		<array>
			<string>er-st-wieder-da.md</string>
		</array>
		<array>
			<string>battle-garegga-rev-2016-premium-booklet.md</string>
		</array>
		<array>
			<string>image-forum-norshteyn-retrospective.md</string>
		</array>
		<array>
			<string>soundcloud-second-half-best-8tracks-inst.md</string>
		</array>
		<array>
			<string>inside.md</string>
		</array>
		<array>
			<string>never-oxidize-apple.md</string>
		</array>
		<array>
			<string>soundcloud-second-half-best-8tracks-vocal.md</string>
		</array>
		<array>
			<string>okinawa-730.md</string>
		</array>
		<array>
			<string>journey.md</string>
		</array>
		<array>
			<string>finding-dolly.md</string>
		</array>
		<array>
			<string>eureka-kouno-fumiyo.md</string>
		</array>
		<array>
			<string>saitama-triennale.md</string>
		</array>
		<array>
			<string>pebble-aquired.md</string>
		</array>
		<array>
			<string>patlabor-reboot.md</string>
		</array>
		<array>
			<string>kippu.md</string>
		</array>
		<array>
			<string>timelocker.md</string>
		</array>
		<array>
			<string>men-women-and-children.md</string>
		</array>
		<array>
			<string>kaeru-san-one-man-show.md</string>
		</array>
		<array>
			<string>shaun-the-sheep-the-movie.md</string>
		</array>
		<array>
			<string>2016-best-video.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>43</integer>
		</dict>
	</dict>
</dict>
</plist>
