<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>476024698</real>
		<key>sheetClusters</key>
		<dict>
			<key>201601-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>american-sniper.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>avatar.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>chef.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>denki-groove-the-movie.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>deploygate-cli.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>desktop-thriller.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>earth-red.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>genron-1.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>how-to-living-to-draw-pictures.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>influenza-b.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>inner-space.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>kadomatsu-2016.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>metafive-meta.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>new-macbook-pro-retina.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>novelist-as-an-occupation.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>profiling-washing-machine.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>rurouni-kenshin.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>saving-private-ryan.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>sega-3d-clasics-archive-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>simulator-remote-notifications.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>sobo-rainforest.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>star-wars-episode-vii-the-force-awakens.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16565198</real>
				<key>lastModification</key>
				<real>504532458.16565198</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>switch-game-evolution-1985-2015-issue.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>the-silence-of-the-lambs.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>worlds-end.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>x-men-future-and-past.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>xperia-z5-compact.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>yaku-barai.md</key>
			<dict>
				<key>lastModification</key>
				<real>476024698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>novelist-as-an-occupation.md</string>
		</array>
		<array>
			<string>201601-summary.md</string>
		</array>
		<array>
			<string>deploygate-cli.md</string>
		</array>
		<array>
			<string>worlds-end.md</string>
		</array>
		<array>
			<string>how-to-living-to-draw-pictures.md</string>
		</array>
		<array>
			<string>influenza-b.md</string>
		</array>
		<array>
			<string>kadomatsu-2016.md</string>
		</array>
		<array>
			<string>rurouni-kenshin.md</string>
		</array>
		<array>
			<string>sobo-rainforest.md</string>
		</array>
		<array>
			<string>metafive-meta.md</string>
		</array>
		<array>
			<string>simulator-remote-notifications.md</string>
		</array>
		<array>
			<string>switch-game-evolution-1985-2015-issue.md</string>
		</array>
		<array>
			<string>sega-3d-clasics-archive-2.md</string>
		</array>
		<array>
			<string>genron-1.md</string>
		</array>
		<array>
			<string>inner-space.md</string>
		</array>
		<array>
			<string>xperia-z5-compact.md</string>
		</array>
		<array>
			<string>new-macbook-pro-retina.md</string>
		</array>
		<array>
			<string>the-silence-of-the-lambs.md</string>
		</array>
		<array>
			<string>yaku-barai.md</string>
		</array>
		<array>
			<string>profiling-washing-machine.md</string>
		</array>
		<array>
			<string>desktop-thriller.md</string>
		</array>
		<array>
			<string>star-wars-episode-vii-the-force-awakens.md</string>
		</array>
		<array>
			<string>chef.md</string>
		</array>
		<array>
			<string>denki-groove-the-movie.md</string>
		</array>
		<array>
			<string>earth-red.md</string>
		</array>
		<array>
			<string>avatar.md</string>
		</array>
		<array>
			<string>american-sniper.md</string>
		</array>
		<array>
			<string>saving-private-ryan.md</string>
		</array>
		<array>
			<string>x-men-future-and-past.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
