<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_drafts</string>
		<string>about</string>
		<string>_posts</string>
		<string>201612</string>
	</array>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>201612</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>502598754.01581299</real>
				<key>lastModification</key>
				<real>502598754.01581299</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>_drafts</key>
			<dict>
				<key>lastModification</key>
				<real>470715592</real>
				<key>version</key>
				<dict>
					<key>legacy-470715592.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>_posts</key>
			<dict>
				<key>lastModification</key>
				<real>470715592</real>
				<key>version</key>
				<dict>
					<key>legacy-470715592.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>about</key>
			<dict>
				<key>lastModification</key>
				<real>470715592</real>
				<key>version</key>
				<dict>
					<key>legacy-470715592.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>createMarkedFile</key>
		<real>470715592</real>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>13</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
