<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>201610-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>499612113.50441003</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>a-long-way-down.md</key>
			<dict>
				<key>lastModification</key>
				<real>497932320.15851402</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>babel.md</key>
			<dict>
				<key>lastModification</key>
				<real>499055303.33742303</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>big-eyes.md</key>
			<dict>
				<key>lastModification</key>
				<real>498620261.73894101</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>force-majeure.md</key>
			<dict>
				<key>lastModification</key>
				<real>497930408.37495798</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>game-bu.md</key>
			<dict>
				<key>lastModification</key>
				<real>497847599.35617799</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>genron-3.md</key>
			<dict>
				<key>lastModification</key>
				<real>499575224.22464901</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>getting-started-with-processing-2nd-edition.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16653299</real>
				<key>lastModification</key>
				<real>504532458.16653299</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>how-to-train-your-dragon-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>499609054.31007397</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>ichikawa-kon.md</key>
			<dict>
				<key>lastModification</key>
				<real>497240308.12461799</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>ikari.md</key>
			<dict>
				<key>lastModification</key>
				<real>498534511.60499299</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>in-a-corner-of-the-world-supporter-preview.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.166529</real>
				<key>lastModification</key>
				<real>504532458.166529</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>inugami-ke-no-ichizoku.md</key>
			<dict>
				<key>lastModification</key>
				<real>497413708.15483201</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>jmf-20th-windows-fitness.md</key>
			<dict>
				<key>lastModification</key>
				<real>499141536.230057</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>miss-hokusai.md</key>
			<dict>
				<key>lastModification</key>
				<real>498621408.376082</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>nam-june-paik-exhibition.md</key>
			<dict>
				<key>lastModification</key>
				<real>498969310.08274698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>nobi.md</key>
			<dict>
				<key>lastModification</key>
				<real>497878279.19643301</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>parents-meeting.md</key>
			<dict>
				<key>lastModification</key>
				<real>498970828.46808201</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>red-turtle.md</key>
			<dict>
				<key>lastModification</key>
				<real>497845844.57287902</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>sayawaka-hirokoya6-pokemon-go.md</key>
			<dict>
				<key>lastModification</key>
				<real>499576757.77349001</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>the-fable.md</key>
			<dict>
				<key>lastModification</key>
				<real>499054476.08434403</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>thinking-method-of-chara.md</key>
			<dict>
				<key>lastModification</key>
				<real>498535398.036349</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>vanilla-sky.md</key>
			<dict>
				<key>lastModification</key>
				<real>499611656.54609299</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>48</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201610-summary.md</string>
		</array>
		<array>
			<string>vanilla-sky.md</string>
		</array>
		<array>
			<string>how-to-train-your-dragon-2.md</string>
		</array>
		<array>
			<string>sayawaka-hirokoya6-pokemon-go.md</string>
		</array>
		<array>
			<string>genron-3.md</string>
		</array>
		<array>
			<string>in-a-corner-of-the-world-supporter-preview.md</string>
		</array>
		<array>
			<string>jmf-20th-windows-fitness.md</string>
		</array>
		<array>
			<string>babel.md</string>
		</array>
		<array>
			<string>the-fable.md</string>
		</array>
		<array>
			<string>parents-meeting.md</string>
		</array>
		<array>
			<string>nam-june-paik-exhibition.md</string>
		</array>
		<array>
			<string>miss-hokusai.md</string>
		</array>
		<array>
			<string>big-eyes.md</string>
		</array>
		<array>
			<string>thinking-method-of-chara.md</string>
		</array>
		<array>
			<string>ikari.md</string>
		</array>
		<array>
			<string>getting-started-with-processing-2nd-edition.md</string>
		</array>
		<array>
			<string>a-long-way-down.md</string>
		</array>
		<array>
			<string>force-majeure.md</string>
		</array>
		<array>
			<string>nobi.md</string>
		</array>
		<array>
			<string>game-bu.md</string>
		</array>
		<array>
			<string>red-turtle.md</string>
		</array>
		<array>
			<string>inugami-ke-no-ichizoku.md</string>
		</array>
		<array>
			<string>ichikawa-kon.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>4</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>51</integer>
		</dict>
	</dict>
</dict>
</plist>
