<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201507-summary.md</string>
		</array>
		<array>
			<string>vacant-room.md</string>
		</array>
		<array>
			<string>shiokara-bushi.md</string>
		</array>
		<array>
			<string>sixth-attend-to-dentist.md</string>
		</array>
		<array>
			<string>nano-eye.md</string>
		</array>
		<array>
			<string>inside-out.md</string>
		</array>
		<array>
			<string>pool-gypsy.md</string>
		</array>
		<array>
			<string>cyboze-live-for-class-groupware.md</string>
		</array>
		<array>
			<string>picture-rium.md</string>
		</array>
		<array>
			<string>cockroach-disappear-spray.md</string>
		</array>
		<array>
			<string>fifth-attend-to-dentist.md</string>
		</array>
		<array>
			<string>import-media-art-archives-column.md</string>
		</array>
		<array>
			<string>famitsu-spaltoon-issue.md</string>
		</array>
		<array>
			<string>gunstar-heroes-3d.md</string>
		</array>
		<array>
			<string>variations-work-in-progress.md</string>
		</array>
		<array>
			<string>variations-presentation.md</string>
		</array>
		<array>
			<string>icc-kids-program-2015.md</string>
		</array>
		<array>
			<string>thor-the-dark-world.md</string>
		</array>
		<array>
			<string>qremo-game-programming-class.md</string>
		</array>
		<array>
			<string>fourth-attend-to-dentist.md</string>
		</array>
		<array>
			<string>broken-thermo-meter.md</string>
		</array>
		<array>
			<string>aqua-blue-tama.md</string>
		</array>
		<array>
			<string>sukiya-gyudon-light.md</string>
		</array>
		<array>
			<string>third-attend-to-dentist.md</string>
		</array>
		<array>
			<string>beautiful-mind.md</string>
		</array>
		<array>
			<string>madmax-fury-road.md</string>
		</array>
		<array>
			<string>second-attend-to-dentist.md</string>
		</array>
		<array>
			<string>race-against-the-machine.md</string>
		</array>
		<array>
			<string>variation-genelate-study.md</string>
		</array>
		<array>
			<string>splatoon-heromode-ending.md</string>
		</array>
		<array>
			<string>viral-gastroenterities.md</string>
		</array>
	</array>
</dict>
</plist>
