<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>478449893</real>
		<key>sheetClusters</key>
		<dict>
			<key>201602-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>aeon-mall-makuhari-shin-toshin.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>alien.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>apple-wwdr-certificate-expired.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>assasin-classroom.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>bee.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>degital-media-and-japanese-graphic-design.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16579598</real>
				<key>lastModification</key>
				<real>504532458.16579598</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>developer-team-grade-test.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>dommune-hikohiko-live.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>enix-computer-game-convert-wars.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>environmental-archaeology.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>fleksy.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>manga-brutus.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>martian.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>media-art-festival-2015.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>minecraft.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>october-sky.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>realm.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>sideway.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>simple-rack-app-for-api-mocking.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>soundcloud-station.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>the-grand-budapest-hotel.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>utopia-backyard-futurecity.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>washing-with-bath-water.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>young-adult.md</key>
			<dict>
				<key>lastModification</key>
				<real>478449893</real>
				<key>version</key>
				<dict>
					<key>legacy-478449893.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201602-summary.md</string>
		</array>
		<array>
			<string>october-sky.md</string>
		</array>
		<array>
			<string>developer-team-grade-test.md</string>
		</array>
		<array>
			<string>utopia-backyard-futurecity.md</string>
		</array>
		<array>
			<string>enix-computer-game-convert-wars.md</string>
		</array>
		<array>
			<string>bee.md</string>
		</array>
		<array>
			<string>environmental-archaeology.md</string>
		</array>
		<array>
			<string>soundcloud-station.md</string>
		</array>
		<array>
			<string>minecraft.md</string>
		</array>
		<array>
			<string>fleksy.md</string>
		</array>
		<array>
			<string>assasin-classroom.md</string>
		</array>
		<array>
			<string>dommune-hikohiko-live.md</string>
		</array>
		<array>
			<string>young-adult.md</string>
		</array>
		<array>
			<string>degital-media-and-japanese-graphic-design.md</string>
		</array>
		<array>
			<string>apple-wwdr-certificate-expired.md</string>
		</array>
		<array>
			<string>the-grand-budapest-hotel.md</string>
		</array>
		<array>
			<string>aeon-mall-makuhari-shin-toshin.md</string>
		</array>
		<array>
			<string>sideway.md</string>
		</array>
		<array>
			<string>martian.md</string>
		</array>
		<array>
			<string>media-art-festival-2015.md</string>
		</array>
		<array>
			<string>realm.md</string>
		</array>
		<array>
			<string>simple-rack-app-for-api-mocking.md</string>
		</array>
		<array>
			<string>manga-brutus.md</string>
		</array>
		<array>
			<string>alien.md</string>
		</array>
		<array>
			<string>washing-with-bath-water.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
