<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>457882502</real>
		<key>sheetClusters</key>
		<dict>
			<key>201505-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>akasegawa-2014-exhibition-book-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>angry-ai.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>counting-kingdom.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>creativity-inc.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>dennys-share-salad.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>disaster-drill.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>diy-candy-kit-for-train-travel.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>fourty-years-old.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>genroncafe-suzuki-azuma.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>gillette-proglide-flexball.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>gradius-for-sega-mk-III.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>heiwajima-forest-park.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>jersey-boys.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>listening-to-the-lines.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>mdn-2015-05.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>melting-interfaces-talk-event.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>missing-pebble.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>operation-tool-for-non-developer.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>post-it-for-lecture.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>repairing-zenfone5.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ringerhut-vegitable-soup.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>shinjuku-cosmic-center.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>splatoon.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>sturdy-of-textile-pattern-copy-program.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.165133</real>
				<key>lastModification</key>
				<real>504532458.165133</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>swap-glasses.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>tendency-to-compress.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>uguisu.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>varsan-for-the-first-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>why-gender-matters.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>wii-u.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882502</real>
				<key>version</key>
				<dict>
					<key>legacy-457882502.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>shinjuku-cosmic-center.md</string>
		</array>
		<array>
			<string>201505-summary.md</string>
		</array>
		<array>
			<string>splatoon.md</string>
		</array>
		<array>
			<string>genroncafe-suzuki-azuma.md</string>
		</array>
		<array>
			<string>tendency-to-compress.md</string>
		</array>
		<array>
			<string>varsan-for-the-first-time.md</string>
		</array>
		<array>
			<string>disaster-drill.md</string>
		</array>
		<array>
			<string>repairing-zenfone5.md</string>
		</array>
		<array>
			<string>wii-u.md</string>
		</array>
		<array>
			<string>angry-ai.md</string>
		</array>
		<array>
			<string>swap-glasses.md</string>
		</array>
		<array>
			<string>operation-tool-for-non-developer.md</string>
		</array>
		<array>
			<string>gillette-proglide-flexball.md</string>
		</array>
		<array>
			<string>post-it-for-lecture.md</string>
		</array>
		<array>
			<string>creativity-inc.md</string>
		</array>
		<array>
			<string>missing-pebble.md</string>
		</array>
		<array>
			<string>melting-interfaces-talk-event.md</string>
		</array>
		<array>
			<string>counting-kingdom.md</string>
		</array>
		<array>
			<string>dennys-share-salad.md</string>
		</array>
		<array>
			<string>mdn-2015-05.md</string>
		</array>
		<array>
			<string>ringerhut-vegitable-soup.md</string>
		</array>
		<array>
			<string>gradius-for-sega-mk-III.md</string>
		</array>
		<array>
			<string>sturdy-of-textile-pattern-copy-program.md</string>
		</array>
		<array>
			<string>heiwajima-forest-park.md</string>
		</array>
		<array>
			<string>jersey-boys.md</string>
		</array>
		<array>
			<string>akasegawa-2014-exhibition-book-2.md</string>
		</array>
		<array>
			<string>uguisu.md</string>
		</array>
		<array>
			<string>why-gender-matters.md</string>
		</array>
		<array>
			<string>diy-candy-kit-for-train-travel.md</string>
		</array>
		<array>
			<string>listening-to-the-lines.md</string>
		</array>
		<array>
			<string>fourty-years-old.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
