<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>457882558</real>
		<key>sheetClusters</key>
		<dict>
			<key>201506-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>amazon-basic-headphone.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>anpanman-museam-kpt.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>araki-hirohiko-manga-method.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>desktop-wallpaper-made-of-desktop-screenshot.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493520497.79494703</real>
				<key>lastModification</key>
				<real>493520497.79494703</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>discas-manga-rental.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>family-baseball-daygame-kpt.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>game-develop-driven.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>goes-to-dentist-after-a-long-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>hackers-champloo-2015-conference.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>how-sampling-transformed-music.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>import-desigining-tumblr-column.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>import-old-medium-text.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>jojos-strange-adventure-4to9.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>jojos-strange-adventure.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>memories-of-pipes.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>pikmin3-play.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>pikmin3.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>pink-brain-blue-brain.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>processing-30a9.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>return-repaired-zenfone5.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>sharing-corrected-code.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>siroca-stc-401.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>something-like-a-game.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>splaroller-for-beginner-player.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>splatoon-in-soundcloud.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>tinker-tailor-soldier-spy.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>world-hobby-festa.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>zerobase-okinawa-workshop-1.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>zerobase-okinawa-workshop-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>457882558</real>
				<key>version</key>
				<dict>
					<key>legacy-457882558.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201506-summary.md</string>
		</array>
		<array>
			<string>pikmin3-play.md</string>
		</array>
		<array>
			<string>import-desigining-tumblr-column.md</string>
		</array>
		<array>
			<string>anpanman-museam-kpt.md</string>
		</array>
		<array>
			<string>discas-manga-rental.md</string>
		</array>
		<array>
			<string>import-old-medium-text.md</string>
		</array>
		<array>
			<string>hackers-champloo-2015-conference.md</string>
		</array>
		<array>
			<string>world-hobby-festa.md</string>
		</array>
		<array>
			<string>zerobase-okinawa-workshop-2.md</string>
		</array>
		<array>
			<string>zerobase-okinawa-workshop-1.md</string>
		</array>
		<array>
			<string>goes-to-dentist-after-a-long-time.md</string>
		</array>
		<array>
			<string>game-develop-driven.md</string>
		</array>
		<array>
			<string>jojos-strange-adventure-4to9.md</string>
		</array>
		<array>
			<string>siroca-stc-401.md</string>
		</array>
		<array>
			<string>return-repaired-zenfone5.md</string>
		</array>
		<array>
			<string>something-like-a-game.md</string>
		</array>
		<array>
			<string>pink-brain-blue-brain.md</string>
		</array>
		<array>
			<string>jojos-strange-adventure.md</string>
		</array>
		<array>
			<string>pikmin3.md</string>
		</array>
		<array>
			<string>amazon-basic-headphone.md</string>
		</array>
		<array>
			<string>how-sampling-transformed-music.md</string>
		</array>
		<array>
			<string>splatoon-in-soundcloud.md</string>
		</array>
		<array>
			<string>memories-of-pipes.md</string>
		</array>
		<array>
			<string>family-baseball-daygame-kpt.md</string>
		</array>
		<array>
			<string>tinker-tailor-soldier-spy.md</string>
		</array>
		<array>
			<string>desktop-wallpaper-made-of-desktop-screenshot.md</string>
		</array>
		<array>
			<string>araki-hirohiko-manga-method.md</string>
		</array>
		<array>
			<string>processing-30a9.md</string>
		</array>
		<array>
			<string>splaroller-for-beginner-player.md</string>
		</array>
		<array>
			<string>sharing-corrected-code.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
