<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>481773621</real>
		<key>sheetClusters</key>
		<dict>
			<key>201604-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>484223929.76702499</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>all-you-need-is-kill-manga-edition.md</key>
			<dict>
				<key>lastModification</key>
				<real>482205104.22559702</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>chihayafuru-kami-no-ku.md</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>clerks.md</key>
			<dict>
				<key>lastModification</key>
				<real>482204421.03778899</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>deckset.md</key>
			<dict>
				<key>lastModification</key>
				<real>482906128.13801098</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>easy-6502-and-sando.md</key>
			<dict>
				<key>lastModification</key>
				<real>482893261.406587</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>energy-liberalisation.md</key>
			<dict>
				<key>lastModification</key>
				<real>483372065.29096198</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>merciless-8bit.md</key>
			<dict>
				<key>lastModification</key>
				<real>483194807.79383302</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>mismatch-of-minecraft-life.md</key>
			<dict>
				<key>lastModification</key>
				<real>482202489.77250397</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>mogura-no-uta.md</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>mommy.md</key>
			<dict>
				<key>lastModification</key>
				<real>482634211.09931302</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>pc-minecraft-wiiu-key-assign.md</key>
			<dict>
				<key>lastModification</key>
				<real>483025132.45448297</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>program-drawing-study.md</key>
			<dict>
				<key>lastModification</key>
				<real>483368395.73727298</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>realm-crash-on-physical-iphone-device.md</key>
			<dict>
				<key>lastModification</key>
				<real>483027651.731489</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>regexp-workshop-2016.md</key>
			<dict>
				<key>lastModification</key>
				<real>482896826.55046397</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>retro-hackers.md</key>
			<dict>
				<key>lastModification</key>
				<real>483365772.10317802</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>twenty-century-arcade-issue-and-hobby-japan-extra.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493520497.79900002</real>
				<key>lastModification</key>
				<real>493520497.79900002</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>ui-graphics.md</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>why-are-vide-games-so-interesting.md</key>
			<dict>
				<key>lastModification</key>
				<real>481773621</real>
				<key>version</key>
				<dict>
					<key>legacy-481773621.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>workflowy-fuild-app.md</key>
			<dict>
				<key>lastModification</key>
				<real>483029189.07289201</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>zootpia.md</key>
			<dict>
				<key>lastModification</key>
				<real>483501859.81993097</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>33</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201604-summary.md</string>
		</array>
		<array>
			<string>zootpia.md</string>
		</array>
		<array>
			<string>energy-liberalisation.md</string>
		</array>
		<array>
			<string>program-drawing-study.md</string>
		</array>
		<array>
			<string>retro-hackers.md</string>
		</array>
		<array>
			<string>merciless-8bit.md</string>
		</array>
		<array>
			<string>workflowy-fuild-app.md</string>
		</array>
		<array>
			<string>realm-crash-on-physical-iphone-device.md</string>
		</array>
		<array>
			<string>pc-minecraft-wiiu-key-assign.md</string>
		</array>
		<array>
			<string>deckset.md</string>
		</array>
		<array>
			<string>regexp-workshop-2016.md</string>
		</array>
		<array>
			<string>easy-6502-and-sando.md</string>
		</array>
		<array>
			<string>mommy.md</string>
		</array>
		<array>
			<string>all-you-need-is-kill-manga-edition.md</string>
		</array>
		<array>
			<string>clerks.md</string>
		</array>
		<array>
			<string>mismatch-of-minecraft-life.md</string>
		</array>
		<array>
			<string>twenty-century-arcade-issue-and-hobby-japan-extra.md</string>
		</array>
		<array>
			<string>why-are-vide-games-so-interesting.md</string>
		</array>
		<array>
			<string>mogura-no-uta.md</string>
		</array>
		<array>
			<string>ui-graphics.md</string>
		</array>
		<array>
			<string>chihayafuru-kami-no-ku.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>36</integer>
		</dict>
	</dict>
</dict>
</plist>
