<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>201609-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>497188939.09213901</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>22-jump-streeet.md</key>
			<dict>
				<key>lastModification</key>
				<real>495428150.90988398</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>birdman-or-the-unexpected-virture-of-ignorance.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504532458.16636401</real>
				<key>lastModification</key>
				<real>504532458.16636401</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>creed.md</key>
			<dict>
				<key>lastModification</key>
				<real>496289534.42475498</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>fantastic-four.md</key>
			<dict>
				<key>lastModification</key>
				<real>496551616.69130301</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>fitness-bike.md</key>
			<dict>
				<key>lastModification</key>
				<real>495078151.94384903</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>genroncafe-miyadai-azuma.md</key>
			<dict>
				<key>lastModification</key>
				<real>497152960.30891198</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>gosha-hideo.md</key>
			<dict>
				<key>lastModification</key>
				<real>496287295.214113</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>kimi-ha-iiko.md</key>
			<dict>
				<key>lastModification</key>
				<real>494904250.47147799</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>look-for-ito-seiko.md</key>
			<dict>
				<key>lastModification</key>
				<real>496721459.11037898</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>miura-tsuda-azuma.md</key>
			<dict>
				<key>lastModification</key>
				<real>495079862.03309101</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>nightcrawler.md</key>
			<dict>
				<key>lastModification</key>
				<real>495597098.05920601</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>pariya-bento.md</key>
			<dict>
				<key>lastModification</key>
				<real>496634320.21917897</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>re-zero.md</key>
			<dict>
				<key>lastModification</key>
				<real>496113131.288405</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>symbolicatecrash-never-finish.md</key>
			<dict>
				<key>lastModification</key>
				<real>496728297.21526998</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>the-song-of-the-sea.md</key>
			<dict>
				<key>lastModification</key>
				<real>495339215.57614398</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>thomas-ruff.md</key>
			<dict>
				<key>lastModification</key>
				<real>496114465.83253598</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>tropic-thunder.md</key>
			<dict>
				<key>lastModification</key>
				<real>494905395.04050398</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>typo-sanpo-kai.md</key>
			<dict>
				<key>lastModification</key>
				<real>495424816.77534598</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>yokoku-han.md</key>
			<dict>
				<key>lastModification</key>
				<real>496731619.99589401</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>your-name.md</key>
			<dict>
				<key>lastModification</key>
				<real>494732036.80480999</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201609-summary.md</string>
		</array>
		<array>
			<string>genroncafe-miyadai-azuma.md</string>
		</array>
		<array>
			<string>yokoku-han.md</string>
		</array>
		<array>
			<string>symbolicatecrash-never-finish.md</string>
		</array>
		<array>
			<string>look-for-ito-seiko.md</string>
		</array>
		<array>
			<string>pariya-bento.md</string>
		</array>
		<array>
			<string>fantastic-four.md</string>
		</array>
		<array>
			<string>creed.md</string>
		</array>
		<array>
			<string>gosha-hideo.md</string>
		</array>
		<array>
			<string>birdman-or-the-unexpected-virture-of-ignorance.md</string>
		</array>
		<array>
			<string>thomas-ruff.md</string>
		</array>
		<array>
			<string>re-zero.md</string>
		</array>
		<array>
			<string>nightcrawler.md</string>
		</array>
		<array>
			<string>22-jump-streeet.md</string>
		</array>
		<array>
			<string>typo-sanpo-kai.md</string>
		</array>
		<array>
			<string>the-song-of-the-sea.md</string>
		</array>
		<array>
			<string>miura-tsuda-azuma.md</string>
		</array>
		<array>
			<string>fitness-bike.md</string>
		</array>
		<array>
			<string>tropic-thunder.md</string>
		</array>
		<array>
			<string>kimi-ha-iiko.md</string>
		</array>
		<array>
			<string>your-name.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>53</integer>
		</dict>
	</dict>
</dict>
</plist>
