<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>470588485</real>
		<key>sheetClusters</key>
		<dict>
			<key>201511-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>about-this-game.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>aspect-mock-return-generator-issue.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>boku-wa-mondai-arimasen.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>crypt-of-the-necrodancer.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>eloise.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>holy-town.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>i-really-like-you-remix.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>into-the-strom.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ironic-games.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>issue-driven.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ji-ji-ji-and-skin-care.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>john-wood-and-paul-harrison.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>kisei-juu-the-movie.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>kosodate-hacks-1.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>narrative-simuration-in-video-game.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>play-digital-game-exhibition.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>rule-of-vanity.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>seven-samurai.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>splatoon-art-book.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>the-trueman-show.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>toki-wo-kakeru-syojo.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>totp-with-1password.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>videogames-as-simuration-of-action.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>wine-and-bread-in-ancient-mediterranean-culture.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493520497.79797697</real>
				<key>lastModification</key>
				<real>493520497.79797697</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>xcode7-build-scheme-issue.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>yoshirin-miyadai-azuman.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>yotsubato-13.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>zenpad-s-8-update.md</key>
			<dict>
				<key>lastModification</key>
				<real>470588485</real>
				<key>version</key>
				<dict>
					<key>legacy-470588485.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>about-this-game.md</string>
		</array>
		<array>
			<string>201511-summary.md</string>
		</array>
		<array>
			<string>yotsubato-13.md</string>
		</array>
		<array>
			<string>videogames-as-simuration-of-action.md</string>
		</array>
		<array>
			<string>zenpad-s-8-update.md</string>
		</array>
		<array>
			<string>xcode7-build-scheme-issue.md</string>
		</array>
		<array>
			<string>issue-driven.md</string>
		</array>
		<array>
			<string>kisei-juu-the-movie.md</string>
		</array>
		<array>
			<string>crypt-of-the-necrodancer.md</string>
		</array>
		<array>
			<string>ironic-games.md</string>
		</array>
		<array>
			<string>into-the-strom.md</string>
		</array>
		<array>
			<string>john-wood-and-paul-harrison.md</string>
		</array>
		<array>
			<string>holy-town.md</string>
		</array>
		<array>
			<string>aspect-mock-return-generator-issue.md</string>
		</array>
		<array>
			<string>splatoon-art-book.md</string>
		</array>
		<array>
			<string>totp-with-1password.md</string>
		</array>
		<array>
			<string>seven-samurai.md</string>
		</array>
		<array>
			<string>kosodate-hacks-1.md</string>
		</array>
		<array>
			<string>narrative-simuration-in-video-game.md</string>
		</array>
		<array>
			<string>rule-of-vanity.md</string>
		</array>
		<array>
			<string>boku-wa-mondai-arimasen.md</string>
		</array>
		<array>
			<string>yoshirin-miyadai-azuman.md</string>
		</array>
		<array>
			<string>ji-ji-ji-and-skin-care.md</string>
		</array>
		<array>
			<string>toki-wo-kakeru-syojo.md</string>
		</array>
		<array>
			<string>eloise.md</string>
		</array>
		<array>
			<string>wine-and-bread-in-ancient-mediterranean-culture.md</string>
		</array>
		<array>
			<string>i-really-like-you-remix.md</string>
		</array>
		<array>
			<string>the-trueman-show.md</string>
		</array>
		<array>
			<string>play-digital-game-exhibition.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
