<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>473263041</real>
		<key>sheetClusters</key>
		<dict>
			<key>007-spectre.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2015-best-movie.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2015-best-video.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2015-retrospective.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>about-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>act-of-killing.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>add-missing-think-routine-column.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>ajin-the-movie-part1.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>chrome-remote-support.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>cupnoodle-museum.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>devd-multi-platform-local-server-app.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>fragments-sociology.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>guadian-of-the-galaxy.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>kids-us-land-kokura.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>mame-hon.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>processing-book-2nd-edition.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>recursive-games.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>return-to-ios.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>sayawaka-splatoon.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>star-wars-episode-456.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>svg-fill-pattern-in-iframe-issue.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>tag-yearly-post-list.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>the-young-and-prodigious-t-s-spivet.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>timeline-for-pebble-classic.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>when-the-childhoods-over.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>winter-ufo-summer-kaiju.md</key>
			<dict>
				<key>lastModification</key>
				<real>473263041</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-retrospective.md</string>
		</array>
		<array>
			<string>kids-us-land-kokura.md</string>
		</array>
		<array>
			<string>2015-best-movie.md</string>
		</array>
		<array>
			<string>tag-yearly-post-list.md</string>
		</array>
		<array>
			<string>2015-best-video.md</string>
		</array>
		<array>
			<string>add-missing-think-routine-column.md</string>
		</array>
		<array>
			<string>about-time.md</string>
		</array>
		<array>
			<string>mame-hon.md</string>
		</array>
		<array>
			<string>timeline-for-pebble-classic.md</string>
		</array>
		<array>
			<string>return-to-ios.md</string>
		</array>
		<array>
			<string>act-of-killing.md</string>
		</array>
		<array>
			<string>processing-book-2nd-edition.md</string>
		</array>
		<array>
			<string>star-wars-episode-456.md</string>
		</array>
		<array>
			<string>cupnoodle-museum.md</string>
		</array>
		<array>
			<string>fragments-sociology.md</string>
		</array>
		<array>
			<string>007-spectre.md</string>
		</array>
		<array>
			<string>guadian-of-the-galaxy.md</string>
		</array>
		<array>
			<string>the-young-and-prodigious-t-s-spivet.md</string>
		</array>
		<array>
			<string>devd-multi-platform-local-server-app.md</string>
		</array>
		<array>
			<string>svg-fill-pattern-in-iframe-issue.md</string>
		</array>
		<array>
			<string>winter-ufo-summer-kaiju.md</string>
		</array>
		<array>
			<string>when-the-childhoods-over.md</string>
		</array>
		<array>
			<string>sayawaka-splatoon.md</string>
		</array>
		<array>
			<string>recursive-games.md</string>
		</array>
		<array>
			<string>chrome-remote-support.md</string>
		</array>
		<array>
			<string>ajin-the-movie-part1.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
