<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>201605-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>486452137.34946698</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>black-swan.md</key>
			<dict>
				<key>lastModification</key>
				<real>484450683.10420603</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>chihaya-furu-shimo-no-ku.md</key>
			<dict>
				<key>lastModification</key>
				<real>485833830.69689101</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>extremely-loud-and-incredibly-close.md</key>
			<dict>
				<key>lastModification</key>
				<real>485832805.37336498</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>i-am-a-hero.md</key>
			<dict>
				<key>lastModification</key>
				<real>485918054.31051302</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>in-flight-refueling.md</key>
			<dict>
				<key>lastModification</key>
				<real>485400486.12302601</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>life-is-strage.md</key>
			<dict>
				<key>lastModification</key>
				<real>486447042.27788299</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>lights-slow-down-wrld.md</key>
			<dict>
				<key>lastModification</key>
				<real>485917121.37665099</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>liver-ct-scan.md</key>
			<dict>
				<key>lastModification</key>
				<real>486006618.78573298</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>museum-of-maritime-science.md</key>
			<dict>
				<key>lastModification</key>
				<real>485057822.882806</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>mynd.md</key>
			<dict>
				<key>lastModification</key>
				<real>485398686.50647497</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>never-let-me-go.md</key>
			<dict>
				<key>lastModification</key>
				<real>484449686.514458</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>our-little-sister.md</key>
			<dict>
				<key>lastModification</key>
				<real>484226881.984882</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>ps4-for-media-player.md</key>
			<dict>
				<key>lastModification</key>
				<real>486450096.13833898</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>revenant.md</key>
			<dict>
				<key>lastModification</key>
				<real>484709711.64967501</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>session.md</key>
			<dict>
				<key>lastModification</key>
				<real>484225426.35138899</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>sherlock-homes-a-game-of-shadows.md</key>
			<dict>
				<key>lastModification</key>
				<real>485229613.30326599</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>six-sense.md</key>
			<dict>
				<key>lastModification</key>
				<real>486265745.155945</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>still-image-of-clock.md</key>
			<dict>
				<key>lastModification</key>
				<real>485230227.95368499</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>students-us-keyboard.md</key>
			<dict>
				<key>lastModification</key>
				<real>485835036.96581399</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>the-new-new-thing.md</key>
			<dict>
				<key>lastModification</key>
				<real>485831574.277017</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>the-others.md</key>
			<dict>
				<key>lastModification</key>
				<real>484797053.55324203</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>the-theory-of-everything.md</key>
			<dict>
				<key>lastModification</key>
				<real>486263956.22645998</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>think-pink.md</key>
			<dict>
				<key>lastModification</key>
				<real>484711618.53215498</real>
				<key>version</key>
				<dict>
					<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
					<integer>12</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>201605-summary.md</string>
		</array>
		<array>
			<string>ps4-for-media-player.md</string>
		</array>
		<array>
			<string>life-is-strage.md</string>
		</array>
		<array>
			<string>six-sense.md</string>
		</array>
		<array>
			<string>the-theory-of-everything.md</string>
		</array>
		<array>
			<string>liver-ct-scan.md</string>
		</array>
		<array>
			<string>i-am-a-hero.md</string>
		</array>
		<array>
			<string>lights-slow-down-wrld.md</string>
		</array>
		<array>
			<string>students-us-keyboard.md</string>
		</array>
		<array>
			<string>chihaya-furu-shimo-no-ku.md</string>
		</array>
		<array>
			<string>extremely-loud-and-incredibly-close.md</string>
		</array>
		<array>
			<string>the-new-new-thing.md</string>
		</array>
		<array>
			<string>in-flight-refueling.md</string>
		</array>
		<array>
			<string>mynd.md</string>
		</array>
		<array>
			<string>still-image-of-clock.md</string>
		</array>
		<array>
			<string>sherlock-homes-a-game-of-shadows.md</string>
		</array>
		<array>
			<string>museum-of-maritime-science.md</string>
		</array>
		<array>
			<string>the-others.md</string>
		</array>
		<array>
			<string>think-pink.md</string>
		</array>
		<array>
			<string>revenant.md</string>
		</array>
		<array>
			<string>black-swan.md</string>
		</array>
		<array>
			<string>never-let-me-go.md</string>
		</array>
		<array>
			<string>our-little-sister.md</string>
		</array>
		<array>
			<string>session.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>aedfd32dfee1d5553c6159d4e4dbe27d5267fd82a062eeed0c7894eb369edb79</key>
			<integer>48</integer>
		</dict>
	</dict>
</dict>
</plist>
